.progress {
    width: 100%;
}

.tracking-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.z1,
.z2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
}

.z1 label,
.z2 label {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ////////////////////////////////////////////////// */

table {
    margin-top: 50px;
}

table,
td,
th {
    border-collapse: collapse;
    width: 100%;
    border: rgb(255, 255, 255) 3px solid;
    font-size: 18px;
    color: white;
}

td {
    padding: 10px;
    font-size: small;
}

th {
    padding: 10px;
    text-align: left;
    background-color: goldenrod;
}

.actions {
    display: flex;
    gap: 10px;
}

.actions label {
    cursor: pointer;
    background-color: goldenrod;
    padding: 10px;
    border-radius: 10px;
    color: black;
    user-select: none;
    transition: all 0.3s ease-in-out;
}

.label1 {
    border: green 4px solid;
}

.label2 {
    border: red 4px solid;
}

.label1:hover {
    background-color: green;
    color: white;
}

.label2:hover {
    background-color: red;
    color: white;
}